
  * 
  {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  body 
  {
    font-family:'Times New Roman', Times, serif;
    background-color: #001D3D;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 20px;
  }
  nav
  {
    background-color: #003566;
    display: flex;
    width: 179vh;
  }
  h1 
  {
    width: 100%;
    text-align: center;
    padding: 20px;
    color: #FFC300;
  }
  .container 
  {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 15px;
    margin: 20px 0;
  }
  .item
  {
    overflow: hidden;
    border-radius: 8px;
    transition: transform 0.5s;
  }
  .item img 
  {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.1s;
  }
  .item:hover 
  {
    transform: scale(1.05);
  }
  .item:hover img 
  {
    transform: scale(1.1);
  }